
*
    outline: none !important
    text-decoration: none !important
    box-sizing: border-box
    margin: 0
    padding: 0
.wrapper
    height: 100%
    width: 100%
    font-family: 'Roboto', sans-serif
.input
    border: none
    border-bottom: 1px solid #ff5f58
    font-size: 14px
    color: #5d5d5d
    font-weight: 300
    min-width: 290px
    &::placeholder
        color: #c1c1c1
        font-weight: 300

*,
*::before,
*::after
  box-sizing: border-box

html
  font-family: sans-serif
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%
  -ms-overflow-style: scrollbar
  -webkit-tap-highlight-color: transparent

@-ms-viewport
  width: device-width

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section
  display: block

body
  margin: 0
  font-weight: 400
  text-align: left
  background-color: #fff

.submit
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.21)
    background-color: #ffffff
    font-weight: 300
    color: #ff5f58
    font-size: 16px
    border: none
    padding: 5px 10px
    cursor: pointer
    margin-top: 10px
    transition: .3s all
    &:hover
        transition: .3s all
        background-color: #ff5f58
        color: #ffffff

.container
  width: 100%
  padding-right: 15px
  padding-left: 15px
  margin-right: auto
  margin-left: auto

@media (min-width: 768px)
  .container
    max-width: 630px
.main
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.21)
    background-color: #5d5d5d
    padding-top: 50px
    padding-bottom: 50px
    &-thankYou
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.61)
        background-color: #ffffff
        border-radius: 3px
        padding-top: 35px
        padding-bottom: 20px
        padding-left: 15px
        padding-right: 15px
        &__img
            text-align: center
            margin-bottom: 25px
        &__text
            font-size: 41px
            color: #6de87e
            font-weight: 300
            text-align: center
    &-title
        text-align: center
        color: #ffffff
        font-size: 36px
        font-weight: 900
        text-transform: uppercase
        margin-bottom: 35px
        &__subtitle
            font-size: 41px
    &-video
        width: 100%
        text-align: center
        margin-bottom: 50px
        video
            max-height: 570px
    &-form
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.61)
        background-color: #ffffff
        border-radius: 3px
        padding-top: 35px
        padding-bottom: 20px
        padding-left: 15px
        padding-right: 15px
        &__input
            max-width: 400px
            display: block
            margin: 0 auto
            margin-bottom: 15px
            &:last-child
                margin-bottom: 0
        &-inputs
            margin-bottom: 30px
        &__title
            color: #5d5d5d
            font-size: 24px
            font-weight: 300
            text-transform: uppercase
            text-align: center
            margin-bottom: 30px
        &__submit
            display: block
            margin: 0 auto
            margin-bottom: 30px
        &__checkboxes
            display: flex
            justify-content: space-between
            &-item
                display: flex
                align-items: center
                input
                    margin-right: 10px
                    -webkit-appearance: none
                    width: 17px
                    height: 17px
                    border: 1px solid #eaeaef
                    position: relative
                    &:after
                        content: ""
                        font-size: 14px
                        position: absolute
                        top: 50%
                        left: 50%
                        transform: translateY(-60%) translateX(-50%) rotate(45deg)
                        color: #99a1a7
                        width: 6px
                        height: 11px
                        border: solid white
                        border-width: 0 3px 3px 0
                        display: none
                    &:checked
                        background-color: #ff5f58
                        &:after
                            display: block
                        &:active
                            background-color: #ff5f58
                span
                    color: #4a4a4a
                    font-size: 13px
                    a
                        color: #4a4a4a
.adv
    background: #ffffff
    padding-top: 30px
    padding-bottom: 30px
    &-item
        margin-bottom: 25px
        &:last-child
            margin-bottom: 0
        &__title
            text-align: center
            color: #ffffff
            font-size: 14px
            font-weight: 700
            background-color: #ff5f58
            text-transform: uppercase
            padding: 9px
            margin-bottom: 20px
        &__text
            color: #5d5d5d
            font-size: 14px
            font-weight: 300
            margin-bottom: 15px
            &:last-child
                margin-bottom: 0
@media (max-width: 1200px)
    .main
        &-video
            video
                max-width: 750px
                max-height: 430px
@media (max-width: 767px)
    .container
        padding: 0
    .input
        min-width: 1px
        width: 100%
    .main
        padding-top: 30px
        padding-bottom: 40px
        &-video
            margin-bottom: 20px
            video
                width: 100%
                max-height: 430px
        &-title
            font-size: 24px
            margin-bottom: 20px
            &__subtitle
                font-size: 28px
        &-form
            margin-left: 15px
            margin-right: 15px
            padding: 15px 10px
            &__title
                font-size: 20px
            &__checkboxes
                flex-direction: column
                &-item
                    margin-bottom: 10px
                    &:last-child
                        margin: 0
        &-thankYou
            margin-left: 15px
            margin-right: 15px
            padding: 35px 10px
            &__img
                margin-bottom: 10px
    .adv
        padding-top: 25px
        padding-bottom: 15px
        &-item
            &__text
                margin-left: 15px
                margin-right: 15px